<!-- <button class="Secbutton" style=" margin-top: 1rem;
background-color: hsla(341, 27%, 53%, 50%);
font-weight: bolder;
width: 8rem;
height: 3rem;
background-color: white;

height: 2.5rem;
border-radius: 4px;"><a href="/" style="margin-top: 4rem" >Home</a></button>
<form class="Secoutter">
   
   

<div class="Secinner">
    <div class="SeccolorBox"></div>
    <div class="Seclayout">
   <input type="text" placeholder="Title..." class="Sectitle" name="title"></input>
   <textarea type="text" placeholder="Your Post..." name="content"  class="Secpost"></textarea>
   <textarea type="text" name="moreinfo" id="" placeholder="More info..." class="Secmore"></textarea>
   <button class="Secbutton" style=" margin-top: 1rem;
   background-color: hsla(341, 27%, 53%, 50%);
   font-weight: bolder;
   width: 8rem;
   height: 3rem;
   background-color: white;
   
   height: 2.5rem;
   border-radius: 4px;
   color: black;" type="submit">Submit</button>
   </div>
  
</div>
   
</form> -->

<form class="Secoutter" action="/article" method="POST">
    <div class="Secinner">
        <div class="SeccolorBox"></div>
        <div class="Seclayout">
            <input type="text" placeholder="Title..." class="Sectitle" name="title"></input>
            <textarea type="text" placeholder="Your Post..." name="content" class="Secpost"></textarea>
            <textarea type="text" name="moreinfo" id="" placeholder="More info..." class="Secmore"></textarea>
            <button class="Secbutton" style=" margin-top: 1rem; background-color: hsla(341, 27%, 53%, 50%); font-weight: bolder; width: 8rem; height: 3rem; background-color: white; height: 2.5rem; border-radius: 4px; color: black;" type="submit">Submit</button>
        </div>
    </div>
</form>
