<div class="inner">
<div class="top">
    <h1>It's just a Blog</h1>
    <button><a href="/">Home</a></button>
</div>

<div style="margin-top: 2rem; color: white;margin-left: 4rem;margin-right: 4rem; font-size: 2rem;"> <b><%= article.title %></b> 
<p><%= article.content %></p>
<p><b><%= article.moreinfo %></b></p>
</div>
</div>